@page "/cost/list"
@using InmobiliariaDashboard.Shared.Enumerations
@inherits ListBase

<h1>Costos</h1>

<div class="text-right">
    <a href="cost/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar costo</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="text-left">
        <input placeholder="Buscar..." type="text" @oninput="FilterRecords" />
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Persona</th>
                <th>Proyecto</th>
                <th>Cuenta</th>
                <th>Tipo</th>
                <th>Valor</th>
                <th>Cantidad</th>
                <th>Sub total</th>
                <th>Comision</th>
                <th>Total</th>
                <th>Fecha</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.EnterpriseName</td>
                    <td>@(record.ProjectName ?? "-")</td>
                    <td>@record.MonetaryAgentName</td>
                    <td>@record.CostTypeName</td>
                    <td>@record.Value.ToString("C")</td>
                    <td>@record.Quantity.ToString("N")</td>
                    <td>@record.SubTotal.ToString("C")</td>
                    @if (CommissionTypeEnum.Money.Code == record.CommissionType)
                    {
                        <td>@record.Commission.ToString("C")</td>
                    }
                    else if (CommissionTypeEnum.Percentage.Code == record.CommissionType)
                    {
                        <td>@record.Commission.ToString("P")</td>
                    }
                    <td>@record.Total.ToString("C")</td>
                    <td>@record.Date.ToString("D")</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-primary" href="cost/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => OnDeleteClick(record.Id)"><span class="oi oi-x"></span></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}