@page "/balance/list"
@inherits ListBase

<div class="text-center alert alert-secondary mt-4">
    <h1>Balances generales</h1>
</div>

@if (EnterpriseRecords != null && EnterpriseRecords.Any())
{
    <div class="row">
        <div class="col-12">
            <h2>Empresas</h2>
        </div>
        <br />
        @foreach (var item in EnterpriseRecords)
        {
            <div class="col-3" style="margin-bottom: 10px;">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>@item.Name</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title text-left">Gastos adquisicion:</div>
                        <div class="card-text">@($"{item.ProjectPurchasePrice:C}")</div>
                        <div class="card-title text-left">Perdidas:</div>
                        <div class="card-text">@($"{item.LossValue:C}")</div>
                        <div class="card-title text-left">Gastos:</div>
                        <div class="card-text">@($"{item.CostValue:C}")</div>
                        <div class="card-title text-left">Ganancias:</div>
                        <div class="card-text">@($"{item.GainValue:C}")</div>
                        <div class="card-title text-left">Activos:</div>
                        <div class="card-text">@($"{item.AssetValue:C}")</div>
                    </div>
                    <div class="card-footer text-right">
                        <h3>Total: @($"{item.TotalBalance:C}")</h3>
                    </div>
                </div>
            </div>
        }
    </div>
}

<br />

@if (MonetaryAgentRecords != null && MonetaryAgentRecords.Any())
{
    <div class="row">
        <div class="col-12">
            <h2>Agentes monetarios</h2>
        </div>
        @foreach (var item in MonetaryAgentRecords)
        {
            <div class="col-3" style="margin-bottom: 10px;">
                <div class="card text-center">
                    <div class="card-header">
                        <div class="card-title">
                            <h3>@item.Name</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-title text-left">Perdidas:</div>
                        <div class="card-text">@($"{item.LossValue:C}")</div>
                        <div class="card-title text-left">Gastos:</div>
                        <div class="card-text">@($"{item.CostValue:C}")</div>
                        <div class="card-title text-left">Ganancias:</div>
                        <div class="card-text">@($"{item.GainValue:C}")</div>
                    </div>
                    <div class="card-footer text-right">
                        <h3>Total: @($"{item.TotalBalance:C}")</h3>
                    </div>
                </div>
            </div>
        }
    </div>
}