@page "/monetaryagent/list"
@using InmobiliariaDashboard.Shared
@using InmobiliariaDashboard.Shared.Enumerations
@inherits ListBase

<h1>Cuentas</h1>

<div class="text-right">
    <a href="monetaryagent/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar cuenta</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="text-left">
        <input placeholder="Buscar..." type="text" @oninput="FilterRecords" />
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Entidad</th>
                <th>Nombre</th>
                <th>Cuenta</th>
                <th>Tarjeta</th>
                <th>Tipo</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.PeopleName</td>
                    <td>@record.Name</td>
                    <td>@(record.AccountNumber?.ToString() ?? "-")</td>
                    <td>@(record.CardNumber?.ToString() ?? "-")</td>
                    <td>@(BaseEnumeration.FromCode<BankAccountTypeEnum>(record.MonetaryAgentType).DisplayName)</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-outline-primary" href="monetaryagent/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-sm btn-outline-danger" @onclick="() => OnDeleteClick(record.Id)"><span class="oi oi-x"></span></button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}