@page "/monetaryagent/list"
@using InmobiliariaDashboard.Shared
@using InmobiliariaDashboard.Shared.Enumerations
@inherits ListBase

<h1>Agentes monetarios</h1>

<div class="text-right">
    <a href="monetaryagent/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar agente monetario</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Agente monetario</th>
                <th>Empresa</th>
                <th>Numero de cuenta</th>
                <th>Numero de tarjeta</th>
                <th>Tipos de agentes monetarios</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.EnterpriseName</td>
                    <td>@(record.AccountNumber?.ToString() ?? "-")</td>
                    <td>@(record.CardNumber?.ToString() ?? "-")</td>
                    <td>@(BaseEnumeration.FromCode<MonetaryAgentTypeEnum>(record.MonetaryAgentType))</td>
                    <td>
                        <a href="monetaryagent/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}