@page "/account/list"
@using InmobiliariaDashboard.Shared
@using InmobiliariaDashboard.Shared.Enumerations
@inherits ListBase

<h1>Accounts</h1>

<div class="text-right">
    <a href="account/add" class="btn btn-primary"><span class="oi oi-plus"></span> Add account</a>
</div>

@if (Records == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Account name</th>
                <th>Client name</th>
                <th>Account number</th>
                <th>Card number</th>
                <th>Account type</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.ClientName</td>
                    <td>@(record.AccountNumber?.ToString() ?? "-")</td>
                    <td>@(record.CardNumber?.ToString() ?? "-")</td>
                    <td>@(BaseEnumeration.FromCode<AccountTypeEnum>(record.AccountType))</td>
                    <td>
                        <a href="account/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}