@page "/project/edit/{id}"
@inherits EditBase

<h1>Editar proyecto</h1>

@if (Saving)
{
    <div class="alert alert-info mt-4">
        <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
        <string>Guardando...</string>
    </div>
}

<div class="text-right">
    <button type="button" class="btn btn-outline-danger" @onclick="OnDeleteClick"><span class="oi oi-x"></span> Borrar</button>
    <button type="button" class="btn btn-outline-warning" @onclick="OnArchiveClick"><span class="oi oi-tags"></span> Archivar</button>
</div>

<EditForm Model="@Record" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <input type="hidden" class="form-control" @bind="Record.Id" />

    <div class="form-row">
        <div class="col form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" @bind="Record.Name" />
        </div>
        <div class="col form-group">
            <label>Codigo</label>
            <input type="text" class="form-control" @bind="Record.Code" />
        </div>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Inicio</label>
            <input type="date" class="form-control" @bind="Record.StartDate" />
        </div>
        <div class="col form-group">
            <label>Fin</label>
            <input type="date" class="form-control" @bind="Record.EndDate" />
        </div>
        <div class="text-center col form-group">
            <label>Vendido</label>
            <input type="checkbox" class="form-control" @bind="Record.Sold" />
        </div>
    </div>

    <div class="form-row">
        <FormSelectRecord @bind-Value="Record.EnterpriseId" Records="Record.Enterprises" Title="Empresas"></FormSelectRecord>
        <FormSelectEnum @bind-Value="Record.ProjectType" Records="ProjectTypes" Title="Tipos de proyectos"></FormSelectEnum>
        <FormSelectRecord @bind-Value="Record.ProjectSubTypeId" Records="Record.ProjectSubTypes" Title="Sub-tipos de proyectos"></FormSelectRecord>
    </div>

    <div class="form-row">
        <div class="col form-group">
            <label>Adjuntos</label>
            <InputFile OnChange="HandleFileSelection" class="form-control" multiple />
        </div>
    </div>

    <button type="submit" class="btn btn-success" disabled="@Saving">Guardar</button>
    <button type="button" class="btn btn-secondary" @onclick="OnCancelClick">Cancelar</button>
</EditForm>

<div class="container-fluid text-right">
    <h4>Adjuntos</h4>

    @if (Record.Attachments == null)
    {
        <div class="row">
            <div class="col">
                <em>Cargando...</em>
            </div>
        </div>
    }
    else
    {
        @foreach (var record in Record.Attachments)
        {
            <div class="row">
                <div class="col">
                    <a href="@record.Url">@($"{record.Name}.{record.ExtensionType}")</a>
                    <button class="btn btn-danger" disabled="@Saving" @onclick="() => OnDeleteAttachmentClick(record.Id)">x</button>
                </div>
            </div>
        }
    }
</div>