@page "/project/history/{id}"
@using InmobiliariaDashboard.Shared
@using InmobiliariaDashboard.Shared.Enumerations
@inherits HistoryBase

<h1>Historial</h1>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Tipo</th>
                <th>Sub-tipo</th>
                <th>Inicio</th>
                <th>Fin</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.Name</td>
                    <td>@record.EnterpriseName</td>
                    <td>@(BaseEnumeration.FromCode<ProjectTypeEnum>(record.ProjectType).DisplayName)</td>
                    <td>@record.ProjectSubTypeName</td>
                    <td>@record.StartDate</td>
                    <td>@(record.EndDate?.ToString("yyyy MMMM dd") ?? "-")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}