@page "/project/list"
@using InmobiliariaDashboard.Shared
@using InmobiliariaDashboard.Shared.Enumerations
@inherits ListBase

<h1>Proyectos</h1>

<div class="text-right">
    <a href="project/add" class="btn btn-primary"><span class="oi oi-plus"></span> Agregar proyecto</a>
</div>

@if (Records == null)
{
    <p>
        <em>Cargando...</em>
    </p>
}
else
{
    <div class="text-left">
        <input placeholder="Buscar..." type="text" @oninput="FilterRecords" />
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Empresa</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Compra</th>
                <th>Venta min.</th>
                <th>Venta max.</th>
                <th>Inicio</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var record in Records)
            {
                <tr>
                    <td>@record.EnterpriseName</td>
                    <td>@record.Code</td>
                    <td>@record.Name</td>
                    <td>@(BaseEnumeration.FromCode<ProjectTypeEnum>(record.ProjectType).DisplayName)</td>
                    <td>$@record.PurchasePrice</td>
                    <td>$@record.MinimumSellingPrice</td>
                    <td>$@record.MaximumSellingPrice</td>
                    <td>@record.StartDate.ToString("G")</td>
                    <td>
                        <a href="project/edit/@record.Id">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <a href="project/history/@record.Id">
                            <span class="oi oi-file"></span>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}